* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, Times New Roman, Helvetica;
}


body {
    min-height: 100vh;
    background: linear-gradient(#296944, #b7cc58);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 15px;
}


h1 { 

    Garamond;
    font-size: 26px;
    margin-bottom: 8px;
}


.bio {
    font-size: ; 14px;
    opacity: 0.85;
    margin-bottom: 25px;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.link-btn {
    background: green;
    border-radius: 10px;
    /* padding: ; 2px, 24px;
    /!\ there are 2 dimensions !!*/
    text-decoration: none;
    color : #blue;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: all 0.3s ease;
}

.link-btn img {
    /* width: 20px;
    height: 30px ;
    Choose a size of image (note : should ba a square so x = y) */
}

.link-btn:hover {
    background: white;
    color: #c33764;
    transform: scale(1.05);
}

footer {
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.7;
}

/* Feel free to change the other parameters and do tests with the css */
